{% extends "_base.html" %}
{% load static %}

{% block head %}
    <!-- Add any specific head content here -->
{% endblock head %}

{% block title %}Home Page{% endblock title %}

{% block content %}
    <div class="mx-auto max-w-7xl px-6 py-16 sm:py-24 lg:px-8">
        <article>
            <header>
                <h2 class="text-2xl font-bold leading-10 tracking-tight text-nfaaorange">
                    Terms of Use
                </h2>
            </header>

            <section>
                <h3 class="mt-5 text-lg font-bold leading-10 tracking-tight text-gray-900">
                    1. Introduction
                </h3>
                <p>
                    Welcome to the Minnesota Archers Alliance (MAA) state record
                    database website. By using this website, you agree to comply with
                    and be bound by the following terms of use.
                </p>
            </section>

            <section>
                <h3 class="mt-5 text-lg font-bold leading-10 tracking-tight text-gray-900">
                    2. Compliance with Local Laws
                </h3>
                <p>
                    This website is operated under the laws of the State of Minnesota.
                    Users are responsible for ensuring their use of the site complies
                    with local laws and regulations.
                </p>
            </section>

            <section>
                <h3 class="mt-5 text-lg font-bold leading-10 tracking-tight text-gray-900">
                    3. Use of the Website
                </h3>
                <p>
                    While we encourage the public use and sharing of the content on our
                    site, unauthorized data extraction is prohibited. Users wishing to
                    access large amounts of data should contact
                    <a href="mailto:president@themnaa.org" class="underline decoration-dotted decoration-from-font underline-offset-4 hover:decoration-solid hover:decoration-nfaaorange">president@themnaa.org</a> to
                    request use of the
                    <a href="https://api.themnaa.org/docs" class="underline decoration-dotted decoration-from-font underline-offset-4 hover:decoration-solid hover:decoration-nfaaorange">official API</a>.
                </p>
            </section>

            <section>
                <h3 class="mt-5 text-lg font-bold leading-10 tracking-tight text-gray-900">
                    4. Limitation of Liability
                </h3>
                <p>
                    The MAA is not responsible for any damages arising from your use of
                    this website.
                </p>
            </section>

            <section>
                <h3 class="mt-5 text-lg font-bold leading-10 tracking-tight text-gray-900">
                    5. Amendments to These Terms
                </h3>
                <p>
                    We reserve the right to modify these terms at any time. Continued
                    use of the site after such changes constitutes acceptance of the new
                    terms.
                </p>
            </section>

            <section>
                <h3 class="mt-5 text-lg font-bold leading-10 tracking-tight text-gray-900">
                    6. Contact Information
                </h3>
                <p>
                    If you have any questions or concerns about these terms, please
                    contact us at
                    <a href="mailto:president@themnaa.org" class="underline decoration-dotted decoration-from-font underline-offset-4 hover:decoration-solid hover:decoration-nfaaorange">president@themnaa.org</a>.
                </p>
            </section>
            <p class="mt-5 text-gray-600">Last updated: November 29, 2023</p>
        </article>
    </div>
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}