version: "3.9"

services:
  web:
    build: .
    ports:
      - "8080:8080"
    networks:
      - maast
    command: python manage.py runserver 0.0.0.0:8080
    volumes:
      - .:/code

networks:
  maast:
    external: true