version: "3.9"

services:
  web:
    build: .
    restart: unless-stopped
    ports:
      - "8080:8080"
    networks:
      - maast
    command: python manage.py runserver 0.0.0.0:8080
#    develop:
#      watch:
#        - path: .
#          target: /code
#          action: sync
#        - path: ./poetry.lock
#          action: rebuild
    volumes:
      - .:/code

networks:
  maast:
    external: true