version: "3.9"

services:
  web:
    build: .
    restart: unless-stopped
    ports:
      - "8080:8080"
    networks:
      - maast
    command: gunicorn maast_web.wsgi:application --bind 0.0.0.0:8080 -w 4
    volumes:
      - .:/code
    env_file:
      - ./.env.prod

networks:
  maast:
    external: true
