<!-- This is the modal menu with links to state records for the various rounds. -->
<div id="modal" class="hidden fixed inset-0 bg-black bg-opacity-30 transition-opacity duration-300">
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white rounded-lg p-8 relative grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- Close button -->
            <button id="closeModal"
                    class="absolute top-0 right-0 m-2 text-black bg-transparent hover:bg-gray-200 hover:text-black rounded-full text-lg leading-none">
                <i class="fa-solid fa-xmark"></i>
            </button>

            <div>
                <h3 class="text-center text-lg font-bold">Indoor</h3>
                <ul>
                    <li class="text-left"><a href="/records/13">18 meters (60 arrows)</a></li>
                    <li class="text-left"><a href="/records/2">25 meters (60 arrows)</a></li>
                    <li class="text-left"><a href="/records/1">NFAA Indoor (one-day)</a></li>
                    <li class="text-left"><a href="/records/31">NFAA Indoor (two-day)</a></li>
                    <li class="text-left"><a href="/records/33">Vegas</a></li>
                    <li class="text-left"><a href="/records/34">Vegas 330</a></li>
                </ul>
            </div>

            <div>
                <h3 class="text-center text-lg font-bold">Outdoor</h3>
                <ul>
                    <li class="text-left"><a href="/records/14">20 meters (72 arrows)</a></li>
                    <li class="text-left"><a href="/records/15">25 meters (72 arrows)</a></li>
                    <li class="text-left"><a href="/records/16">30 meters (72 arrows)</a></li>
                    <li class="text-left"><a href="/records/17">50 meters (72 arrows)</a></li>
                    <li class="text-left"><a href="/records/18">60 meters (72 arrows)</a></li>
                    <li class="text-left"><a href="/records/19">70 meters (72 arrows)</a></li>
                    <li class="text-left"><a href="/records/3">NFAA Field (14 targets)</a></li>
                    <li class="text-left"><a href="/records/4">NFAA Field (28 targets)</a></li>
                    <li class="text-left"><a href="/records/5">NFAA Hunter (14 targets)</a></li>
                    <li class="text-left"><a href="/records/6">NFAA Hunter (28 targets)</a></li>
                    <li class="text-left"><a href="/records/7">NFAA Animal (14 targets)</a></li>
                    <li class="text-left"><a href="/records/8">NFAA Animal (28 targets)</a></li>
                    <li class="text-left"><a href="/records/9">Pro NFAA Field (14 targets)</a></li>
                    <li class="text-left"><a href="/records/10">Pro NFAA Field (28 targets)</a></li>
                    <li class="text-left"><a href="/records/11">Pro NFAA Hunter (14 targets)</a></li>
                    <li class="text-left"><a href="/records/12">Pro NFAA Hunter (28 targets)</a></li>
                </ul>
            </div>

            <div>
                <h3 class="text-center text-lg font-bold">Retired</h3>
                <ul>
                    <li class="text-left"><a href="/records/30">10 meters (36 arrows)</a></li>
                    <li class="text-left"><a href="/records/29">15 meters (36 arrows)</a></li>
                    <li class="text-left"><a href="/records/27">20 meters (36 arrows)</a></li>
                    <li class="text-left"><a href="/records/26">25 meters (36 arrows)</a></li>
                    <li class="text-left"><a href="/records/25">30 meters (36 arrows)</a></li>
                    <li class="text-left"><a href="/records/24">40 meters (36 arrows)</a></li>
                    <li class="text-left"><a href="/records/23">50 meters (36 arrows)</a></li>
                    <li class="text-left"><a href="/records/22">60 meters (36 arrows)</a></li>
                    <li class="text-left"><a href="/records/21">70 meters (36 arrows)</a></li>
                    <li class="text-left"><a href="/records/20">90 meters (36 arrows)</a></li>
                    <li class="text-left"><a href="/records/32">Full FITA</a></li>
                    <li class="text-left"><a href="/records/28">NFAA 810</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
