{% extends "_base.html" %}
{% block head %}
<link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-1.13.8/fh-3.4.0/r-2.5.0/rg-1.4.1/datatables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-1.13.8/fh-3.4.0/r-2.5.0/rg-1.4.1/datatables.min.js"></script>
{% endblock head %}
{% block title %}State records{% endblock title %}
{% block content %}
<table id="organizationTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Abbreviation</th>
            <th>URL</th>
        </tr>
    </thead>
</table>
{% endblock content %}

{% block extra_js %}
<script>
$(document).ready(function() {
    const data = {{ organizations | safe }};
    $('#organizationTable').DataTable({
        data: data,
        columns: [
            {"data": "name"},
            {"data": "abbreviation"},
            {"data": "url"}
        ],
        rowGroup: {
            dataSrc: "age_division"
        },
        fixedHeader: true,
        paging: false,
        ordering: false,
        info: false,
        searching: false,
    });
});
</script>
{% endblock extra_js %}
