{% extends "_base.html" %}
{% block head %}
<link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-1.13.8/fh-3.4.0/r-2.5.0/rg-1.4.1/datatables.min.css"
      rel="stylesheet">
<script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-1.13.8/fh-3.4.0/r-2.5.0/rg-1.4.1/datatables.min.js"></script>
{% endblock head %}
{% block title %}{{ person_name }} Profile{% endblock title %}
{% block content %}
<h1>{{ person_name }}</h1>
{% endblock content %}

{% block extra_js %}
<script>

</script>
{% endblock extra_js %}