{% extends "_base.html" %}
{% load static %}
{% block head %}{% endblock head %}
{% block title %}{% endblock title %}
{% block content %}

    <!-- Archer profile tabs -->
    <div class="border-b border-gray-200 pb-5 sm:pb-0">
        <h2 class="text-2xl font-semibold leading-6 text-nfaadkblue mt-7 mb-5">{{ person.full_name }}</h2>
        <div class="mt-3 sm:mt-4">
            <!-- Dropdown menu on small screens -->
            <div class="sm:hidden">
                <div class="mb-5">{% if podium_summary %}<span class="text-gray-500 text-md font-medium">Podium Finishes: </span>{% endif %}
                    {% for podium_finishes in podium_summary %}<span class="-mt-3">
                        <span class="text-gray-500 text-md font-medium">{{ podium_finishes }}</span>
                </span>{% endfor %}</div>
                <label for="current-tab" class="sr-only">Select a tab</label>
                <select id="current-tab" name="current-tab"
                        class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                    <option value="scores" selected>Scores</option>
                    <option value="stateRecords">State Records</option>
                    <option value="podiums">Podiums</option>
                </select>
            </div>
            <!-- Tabs at small breakpoint and up -->
            <div class="hidden sm:block">
                <nav class="-mb-px flex space-x-8">
                    <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
                    <a href="#" id="btnScores"
                       class="active-tab border-nfaaorange text-nfaaorange whitespace-nowrap border-b-2 px-1 pb-4 text-md font-medium"
                       aria-current="page">Scores</a>
                    <a href="#" id="btnStateRecords"
                       class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 px-1 pb-4 text-md font-medium">State
                        Records</a>
                    <a href="#" id="btnPodiums"
                       class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 px-1 pb-4 text-md font-medium">Podiums</a>
                    <span class="flex space-x-4">{% for podium_finishes in podium_summary %}
                        <span class="text-gray-500 text-md font-medium">{{ podium_finishes }}</span>
                    {% endfor %}</span>
                </nav>
            </div>
        </div>
    </div>

    <div class="mt-8 flow-root">
        <div class="inline-block min-w-full align-middle">
            <div id="scoresTableContainer">
                <table id="scoresTable" class="display compact responsive nowrap" style="width:100%"></table>
            </div>
            <div id="stateRecordsTableContainer">
                <table id="stateRecordsTable" class="display compact responsive nowrap" style="width:100%"></table>
            </div>
            <div id="podiumsTableContainer">
                <table id="podiumsTable" class="display compact responsive nowrap" style="width:100%"></table>
            </div>
        </div>
    </div>

    <div data-person-id="{{ person.id }}" style="display:none"></div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/profilePage.js' %}"></script>
{% endblock extra_js %}
