{% extends "_base.html" %}
{% load static %}
{% block head %}{% endblock head %}
{% block title %}{{ person.full_name }} Profile{% endblock title %}
{% block content %}
    <h1>{{ person.full_name }}</h1>
    <div class="button-group">
        <button id="btnScores">Scores</button>
        <button id="btnStateRecords">State Records</button>
        <button id="btnPodiums">Podiums</button>
    </div>
    <div class="mt-8 flow-root">
        <div class="inline-block min-w-full align-middle">
            <div id="scoresTableContainer">
                <table id="scoresTable" class="display compact responsive nowrap" style="width:100%"></table>
            </div>
            <div id="stateRecordsTableContainer">
                <table id="stateRecordsTable" class="display compact responsive nowrap" style="width:100%"></table>
            </div>
            <div id="podiumsTableContainer">
                <table id="podiumsTable" class="display compact responsive nowrap" style="width:100%"></table>
            </div>
        </div>
    </div>
    <div data-person-id="{{ person.id }}" style="display:none"></div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/profilePage.js' %}"></script>
{% endblock extra_js %}
