{% extends "_base.html" %}
{% load static %}

{% block head %}
    <!-- Add any specific head content here -->
{% endblock head %}

{% block title %}Home Page{% endblock title %}

{% block content %}
    <div class="mx-auto max-w-7xl px-6 py-10 sm:py-24 lg:px-8">
        <article>
            <h2 class="text-2xl font-bold leading-10 tracking-tight text-nfaadkblue">
                Privacy Policy
            </h2>
            <section>
                <h3 class="mt-5 text-lg font-bold leading-10 tracking-tight text-gray-900">
                    1. Introduction
                </h3>
                <p>
                    Welcome to the Minnesota Archers Alliance state record database
                    website. This privacy policy outlines our practices regarding the
                    collection, use, and protection of information for users visiting
                    our website.
                </p>
            </section>
            <section>
                <h3 class="mt-5 text-lg font-bold leading-10 tracking-tight text-gray-900">
                    2. Information Collection
                </h3>
                <p>
                    Our website does not track or collect any personal information from
                    our users. However, we reserve the right to use technology to
                    monitor website traffic and general usage data. The purpose of this
                    data collection is solely to analyze which features of our site are
                    most popular and to aid in the development of new features that may
                    benefit our visitors.
                </p>
            </section>
            <section>
                <h3 class="mt-5 text-lg font-bold leading-10 tracking-tight text-gray-900">
                    3. Use of Collected Information
                </h3>
                <p>
                    The aggregated data collected is used for internal purposes only,
                    such as understanding how our visitors use the website and which
                    sections are most frequented. This helps us in enhancing the user
                    experience and in planning future improvements.
                </p>
            </section>
            <section>
                <h3 class="mt-5 text-lg font-bold leading-10 tracking-tight text-gray-900">
                    4. Data Sharing and Disclosure
                </h3>
                <p>
                    We do not share any data collected from our website with third
                    parties. Since we do not collect personal information, there is no
                    private data about individuals to disclose.
                </p>
            </section>
            <section>
                <h3 class="mt-5 text-lg font-bold leading-10 tracking-tight text-gray-900">
                    5. Data Security
                </h3>
                <p>
                    As our website does not store any private data about individuals,
                    the risk of data breach is minimal. However, we are committed to
                    ensuring the security of our website and its users.
                </p>
            </section>
            <section>
                <h3 class="mt-5 text-lg font-bold leading-10 tracking-tight text-gray-900">
                    6. User Rights and Contact Information
                </h3>
                <p>
                    For any corrections to the data presented on our website, users can
                    email us at
                    <a href="mailto:president@themnaa.org"
                       class="underline decoration-dotted decoration-from-font underline-offset-4 hover:decoration-solid hover:decoration-nfaaorange">president@themnaa.org</a>. If
                    you have any questions or concerns about your privacy while using
                    our website, please contact us at
                    <a href="mailto:privacy@themnaa.org"
                       class="underline decoration-dotted decoration-from-font underline-offset-4 hover:decoration-solid hover:decoration-nfaaorange">privacy@themnaa.org</a>.
                </p>
            </section>
            <section>
                <h3 class="mt-5 text-lg font-bold leading-10 tracking-tight text-gray-900">
                    7. Cookies and Tracking Technologies
                </h3>
                <p>
                    Our website does not create any cookies or use tracking
                    technologies, other than the minimal data collection technologies
                    mentioned above for tracking site usage.
                </p>
            </section>
            <section>
                <h3 class="mt-5 text-lg font-bold leading-10 tracking-tight text-gray-900">
                    8. International Users
                </h3>
                <p>
                    The MAA State Record Database is designed for users within the
                    United States and does not serve users from outside the U.S.
                </p>
            </section>
            <section>
                <h3 class="mt-5 text-lg font-bold leading-10 tracking-tight text-gray-900">
                    9. Policy Updates
                </h3>
                <p>
                    We reserve the right to update this privacy policy as necessary. Any
                    changes will be posted on this page with an updated revision date.
                </p>
            </section>
            <p class="mt-5 text-gray-600">Last updated: November 29, 2023</p>
        </article>
    </div>
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}