{% extends "_base.html" %}
{% block head %}
{% endblock head %}
{% block title %}{% endblock title %}
{% block content %}
    <div class="mt-4 flow-root">
        <div class="inline-block min-w-full align-middle">
            <h1 class="my-4 text-2xl font-semibold text-nfaaorange">{{ round_name }} State Records</h1>
            <table id="recordTable" class="display compact responsive nowrap" style="width:100%"></table>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        const data = {{ state_records | safe }};
        $('#recordTable').DataTable({
            data: data,
            columns: [
                {title: "Division", data: "equipment_class"},
                {title: "Name", data: "full_name"},
                {title: "Score", data: "score"},
                {title: "Date", data: "score_date"},
                {title: "Event", data: "event_name"},
                {title: "Location", data: "event_location"},
            ],
            columnDefs: [
                {targets: [0, 1, 2, 3, 4, 5], className: "text-sm"},
                {target: 0, // Division
                    render: function ( data, type, row ) {
                    let division = '?age_division='+encodeURIComponent(row.age_division)+
                        '&gender='+encodeURIComponent(row.gender)+
                        '&equipment_class='+encodeURIComponent(row.equipment_class)
                    return '<a href="/scores/'+row.round_id+division+'" class="underline decoration-dotted decoration-from-font underline-offset-4 hover:decoration-solid hover:decoration-nfaaorange">'+row.gender+' '+row.equipment_class+'</a>';
                    }
                },
                {target: 1, // Name
                    render: function ( data, type, row ) {
                        return '<a href="/profile/' + row.person_slug + '" class="underline decoration-dotted decoration-from-font underline-offset-4 hover:decoration-solid hover:decoration-nfaaorange">' + data + '</a>';
                    }
                },
                {target: 3, // Date
                    render: function ( data, type, row ) {
                        if (row.is_multiday_score == false) {
                            return row.score_date;
                        } else {
                            return row.event_date;
                        }
                    },
                },
                {target: 4, // Event
                    render: function ( data, type, row ) {
                        return '<a href="/event/' + row.event_id + '" class="underline decoration-dotted decoration-from-font underline-offset-4 hover:decoration-solid hover:decoration-nfaaorange">' + data + '</a>';
                    }
                },
            ],
            rowGroup: {
                dataSrc: "age_division"
            },
            responsive: true,
            fixedHeader: true,
            paging: true,
            pageLength: 50,
            lengthChange: false,
            ordering: false,
            info: true,
            searching: false,
            preDrawCallback: function (settings) {
                const api = new $.fn.dataTable.Api(settings);
                const pagination = $(api.table().container()).find('.dataTables_paginate');
                pagination.toggle(api.page.info().pages > 1);
            },
        });
    });
</script>
{% endblock extra_js %}
