{% extends "_base.html" %}
{% block head %}
<link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-1.13.8/fh-3.4.0/r-2.5.0/rg-1.4.1/datatables.min.css"
      rel="stylesheet">
<script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-1.13.8/fh-3.4.0/r-2.5.0/rg-1.4.1/datatables.min.js"></script>
{% endblock head %}
{% block title %}State records{% endblock title %}
{% block content %}
    <div class="mt-8 flow-root">
        <div class="inline-block min-w-full align-middle">
            <h1 class="my-4 text-2xl">{{ round_name }} State Records</h1>
            <table id="recordTable" class="display compact responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-lg">Age Division</th>
                        <th class="text-lg">Gender</th>
                        <th class="text-lg">Division</th>
                        <th class="text-lg">Name</th>
                        <th class="text-lg">Slug</th>
                        <th class="text-lg">Score</th>
                        <th class="text-lg">Event ID</th>
                        <th class="text-lg">Date</th>
                        <th class="text-lg">Event</th>
                        <th class="text-lg">Location</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        const data = {{ state_records | safe }};
        $('#recordTable').DataTable({
            data: data,
            columns: [
                {title: "Age Division", data: "age_division"},
                {title: "Gender", data: "gender"},
                {title: "Division", data: "equipment_class"},
                {title: "Name", data: "full_name"},
                {title: "Slug", data: "person_slug"},
                {title: "Score", data: "score"},
                {title: "Event ID", data: "event_id"},
                {title: "Date", data: "event_date"},
                {title: "Event", data: "event_name"},
                {title: "Location", data: "event_location"}
            ],
            columnDefs: [
                {targets: [0, 1, 4, 6], visible: false},
                {target: 2, // Division
                    className: "text-sm",
                    render: function ( data, type, row ) {
                    return row.gender + " " + row.equipment_class;
                    }
                },
                {target: 3, // Name
                    className: "text-sm",
                    render: function ( data, type, row ) {
                    return '<a href="/profile/' + row.person_slug + '">' + data + '</a>';
                }},
                {target: 5, // Score
                    className: "text-sm",
                },
                {target: 7, // Date
                    className: "text-sm",
                },
                {target: 8, // Event
                    className: "text-sm"},
                {target: 9, // Location
                    className: "text-sm"},
            ],
            rowGroup: {
                dataSrc: "age_division"
            },
            responsive: true,
            fixedHeader: true,
            paging: false,
            ordering: false,
            info: false,
            searching: false,
        });
    });
</script>
{% endblock extra_js %}
